<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>

  <body class="container">
    <header>
      <% include partials/header %>
    </header>

    <% if(user) { %>
    <div class="card mb-3 wow fadeIn">
      <div class="card-header font-weight-bold">Edit Comment</div>
      <div class="card-body">
        <!-- Default form reply -->
        <form action="/comment/<%= comment._id %>?_method=PUT" method="post">
          <!-- Comment -->
          <div class="form-group">
            <label for="replyFormComment">Your comment</label>
            <textarea
              class="form-control"
              id="replyFormComment"
              rows="5"
              name="user_comment"
            ><%= comment.text %></textarea>
            <input name="recipe_uri" type="hidden" value="<%= recipe.uri %>" />
            <input
              name="search_name"
              type="hidden"
              value="<%= recipe.name %>"
            />
          </div>
          <div class="text-center mt-4">
            <button class="btn btn-info btn-md" type="submit">Post</button>
          </div>
        </form>
        <!-- Default form reply -->
      </div>
    </div>
    <% } %>
    <footer>
      <% include partials/footer %>
    </footer>
  </body>
</html>
