<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
</head>

<body class="container">

    <header>
        <% include partials/header %>
    </header>

    <main>
        <div><% recipeList.forEach(recipe => { %>
            <div class="recipe">
                <div class="title"><%=recipe.name %></div>
                <img class="imgrecipe" src="<%= recipe.img %>" />
                <div class="title">
                    Ingredients:
                </div>
                <div>
                    <ul>
                        <% recipe.ingredients.forEach(ing => { %>
                        <li><%= ing %></li>
                        <% }) %>
                    </ul>
                </div>
                <div> <a href="<%= recipe.url %>">Read More</a></div>
                    <p class='line'></p>
            </div>
            <% }) %>
        </div>
    </main>
    <footer>
        <% include partials/footer %>
    </footer>

</body>

</html>