<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
</head>

<body class="container">

    <header>
        <% include partials/header %>
    </header>

    <main>
        <div><% recipeList.forEach(recipe => { %>
            <div class="recipe">
                <a href='/recipe/<%=recipe.name%>'>
                <div class="title"><%=recipe.name %></div>
                <img class="imgrecipe" src="<%= recipe.img %>" />
                    <p class='line'></p>
            </div>
            <% }) %>
        </div>
    </main>
    <footer>
        <% include partials/footer %>
    </footer>

</body>

</html>